


  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="../../assets/asas.jpg" alt=""></ng-template>
    <ng-template carouselSlide><img src="../../assets/w.jpg" alt=""></ng-template>
    <ng-template carouselSlide><img src="../../assets/p2.jpg" alt=""></ng-template>
    <ng-template carouselSlide><img src="../../assets/p3.jpg" alt=""></ng-template>

  </owl-carousel-o>


<div class="mt-5">

  <h3 class="p-3"> Name: Ahmed Mohamed Shaltout.</h3>



  <h2 class="name w-25">EDUCATION <br></h2>
 <ul >
  <li class="py-2">Faculty  of computers and information </li>
  <li class="py-2">Tanta University</li>
  <li class="py-2">Tanta Egypt 2020 / 2024</li>
  <li class="py-2">My GPA (3.1, very good)</li>
</ul>
  <!-- <h3 class="p-3">University: Tanta university.</h3> -->

</div>

