<div class="container">
  <div *ngIf="peoplePagesList.length>0;else loading">
    <div class="row gy-3 justify-content-center">



      <div class="my-5 py-3">
        <input type="text" [(ngModel)]="term"  placeholder="Search ...." class="form-control text-black ">
      </div>


          <div *ngFor="let movie of peoplePagesList|searchpeople:term" class="col-md-2 ">
            <div class="movies">
              <a [routerLink]="['/peopledetails',movie.id]">
                <img class="w-100" [src]="imgprefix + movie.profile_path" alt="">
                <h3 class="h6 mt-2 mb-3 ">{{movie.name}}</h3>
              </a>
            </div>
          </div>



        </div>



        <nav aria-label="...">
          <ul class="pagination pagination-sm d-flex justify-content-center mt-5">
            <li class="page-item active cursor d-flex justify-content-center"  aria-current="page">
              <span *ngFor="let page of pages" class="page-link" (click)="testPage(page)">{{page}}</span>
            </li>

          </ul>
        </nav>

      </div>

      <ng-template #loading>
        <div class="container vh-100 d-flex justify-content-center align-items-center">  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
           </ng-template>

</div>
