owl-carousel-o
{
  background-color: white !important;
  color: white;
}
.owl-dot
{
  background: white !important;
  color: white !important;

}

.owl-carousel {

  margin-top: 100px !important;
}


